@import "_vertical-menu";
@import "_footer";

$bg-greylight:#eff0f2;

body {
  background: $bg-white;
  margin: 0;
  position: relative;
}

.bg-grey {
    background: $bg-grey;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  border-left: 1px solid $bg-grey;
}
.main-page-content {
  background:$bg-white ;
  width: 100%;
}
.separator {
  margin: 20px 0 20px -90px;
  border-bottom: 1px solid $bg-grey;
}
.navbar {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  z-index:10;
  position: fixed;
  width: 100%;
}
.filter-card {
  background: $bg-greylight;
  border-radius: 3px;
  border: 1px solid $bg-grey;
}
.filter-card-separator {
  border-bottom: 1px solid $bg-grey;
  margin: 20px -20px 20px -20px;
}

