$bg-grey:#ececec;
$bg-white: #fff;
$bg-black: #232729;

.new-question-container {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 1000px;
  transform: translate(-30%, -30%);
  padding: 24px;
  background: $bg-white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.new-question-text {
  font-family: system-ui;
  color:$bg-black;
  font-weight: 700;
  margin-bottom: -5px;
}
.new-question-headline-text {
  font-family: system-ui;
  font-size: 27px;
  color:$bg-black;
  margin-left: -40px;
  margin-top: 26px;
}
