$bg-white: #fff;
$bg-grey: #dcdcdc;
$bg-triangle:#6a737c;
$bg-black-text:#3C4146;
.page-content-one-question {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  border-left: 1px solid $bg-grey;
}
.main-page-content-one-question {
  background:$bg-white ;
  width: 100%;
}
.text-menu-content-one-question {
   p {
       font-family: system-ui;
       font-size: 27px;
       color:$bg-black-text;
    }
}
.separator-one-question {
  margin: 20px 0 20px -30px;
  border-bottom: 1px solid $bg-grey;
}
.navbar {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  z-index:10;
  position: fixed;
  width: 100%;
}
%triangle {
  width: 0;
  height: 0;
  border-style: solid;
}
.top-arrow{
  @extend %triangle;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent $bg-triangle transparent;
}
.bottom-arrow{
  @extend %triangle;
  border-width: 15px 15px 0 15px;
  border-color: $bg-triangle transparent transparent  transparent;
}
.digit-vote{
  p{
    font-family: system-ui;
    color:$bg-triangle;
    font-size: 20px;
    margin: 2px;
    padding-left: 5px;
    align-items: center !important;

  }
}
