$bg-white: #fff;
$bg-grey: #dcdcdc;
$bg-triangle:#6a737c;
$bg-black-text:#3C4146;
$bg-orange:#e98438;
.page-content-one-question {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  border-left: 1px solid $bg-grey;
    .main-group-menu-top{
        margin: 20px;
        border-bottom: 1px solid $bg-grey;
        .text-menu-content-one-question {
            p {
                font-family: system-ui;
                font-size: 27px;
                color:$bg-black-text;
            }
        }
    }
    .main-page-content-one-question {
        background:$bg-white ;
        width: 100%;
    }
    .main-page-content-one-answer {
        border-bottom: 1px solid $bg-grey;
    }
}

%triangle {
  width: 0;
  height: 0;
  border-style: solid;
}
.top-arrow{
  @extend %triangle;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent $bg-triangle transparent;
}

.top-arrow.add-vote-top{
    border-color: transparent transparent $bg-orange transparent;
}
.bottom-arrow{
  @extend %triangle;
  border-width: 15px 15px 0 15px;
  border-color: $bg-triangle transparent transparent  transparent;
}
.bottom-arrow.add-vote-bottom{
    border-color: $bg-orange transparent transparent  transparent;
}
.bottom-arrow.delete-vote{
    border-color: $bg-triangle transparent transparent  transparent;
}
.digit-vote{
    p {
        font-family: system-ui;
        color:$bg-triangle;
        font-size: 20px;
        margin: 2px;
        padding-left: 5px;
        align-items: center !important;
    }
}
