$bg-grey:#ececec;
$bg-white: #fff;
$bg-black: #232729;
body {
  background: $bg-grey;
}
.register-container {
  position: absolute;
  left: 40%;
  top: 50%;
  width: 300px;
  transform: translate(-50%, -40%);
  padding: 24px;
  background: $bg-white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.register-text {
  font-family: system-ui;
  color:$bg-black;
  font-weight: 700;
  margin-bottom: -5px;
}