.page-content-one-question {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  border-left: 1px solid #dcdcdc;
}
.page-content-one-question .main-group-menu-top {
  margin: 20px;
  border-bottom: 1px solid #dcdcdc;
}
.page-content-one-question .main-group-menu-top .text-menu-content-one-question p {
  font-family: system-ui;
  font-size: 27px;
  color: #3C4146;
}
.page-content-one-question .main-page-content-one-question {
  background: #fff;
  width: 100%;
}
.page-content-one-question .main-page-content-one-answer {
  border-bottom: 1px solid #dcdcdc;
}

.bottom-arrow, .top-arrow {
  width: 0;
  height: 0;
  border-style: solid;
}

.top-arrow {
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #6a737c transparent;
}

.top-arrow.add-vote-top {
  border-color: transparent transparent #e98438 transparent;
}

.bottom-arrow {
  border-width: 15px 15px 0 15px;
  border-color: #6a737c transparent transparent transparent;
}

.bottom-arrow.add-vote-bottom {
  border-color: #e98438 transparent transparent transparent;
}

.bottom-arrow.delete-vote {
  border-color: #6a737c transparent transparent transparent;
}

.digit-vote p {
  font-family: system-ui;
  color: #6a737c;
  font-size: 20px;
  margin: 2px;
  padding-left: 5px;
  align-items: center !important;
}
