<header>
    <nav class="navbar navbar-light bg-light ">
        <div class=" container container-fluid">
            <a class="navbar-brand">Questions</a>
            <form class="d-flex justify-content-between">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

                <a type="button" class="btn btn-primary ml-2" href="./view/login.html" >Log in</a>
                <a type="button" class="btn btn-primary ml-2" href="./view/registration.html" >Sign up</a>

            </form>
        </div>
    </nav>
</header>
